<% content_for(:title) { 'Login' } %>

<div class="login-body">
  <%= image_tag 'openflighthpc-text-logo.png', size: '339x182', class: 'my-4' %>
  <h1><%= Rails.application.config.application_name %> Appliance </h1>
  <div>
    <div>
      <%= form_for(:session, url: login_path, html: { class: 'styled-form' }) do |f| %>
        <%= f.label :username %>
        <%= f.text_field :username, class: 'form-control' %>

        <%= f.label :password %>
        <%= f.password_field :password, class: 'form-control' %>

        <%= f.submit 'Sign In', class: 'btn btn-primary mt-2' %>
      <% end %>
    </div>
  </div>
</div>
