<% content_for(:title) { 'SSH Key Management' } %>

<div>
  <% if @ssh_keys.is_a? String %>
    <h5 class="text-center mt-2"><%= @ssh_keys %></h5>
  <% else %>
    <div style="text-align: center;">
      <h1> Add New SSH Key </h1>
      <%= form_for(:new_key, url: ssh_path, html: { class: 'creation-form styled-form' }) do |f| %>
        <div class="row mb-1">
          <div class="col-sm-1 form-label">
            <%= f.label :key, 'Key:' %>
          </div>
          <div class="col-sm-11">
            <%= f.text_area :key, class: 'form-control', required: true %>
          </div>
        </div>

        <%= f.submit 'Add Key', class: 'btn btn-primary mt-2' %>
      <% end %>
    </div>

    <div class="table-responsive mt-4">
      <h1 style="text-align: center;"> Existing SSH Keys </h1><br>
      <table class="table table-bordered center" style="table-layout: fixed; width: 75%;">
        <thead>
          <colgroup>
            <col span="1" style="width: 40px;">
            <col span="1" style="width: auto;">
            <col span="1" style="width: 70px;">
          </colgroup>
          <tr>
            <th></th>
            <th> Key </th>
            <th> Delete </th>
          </tr>
        </thead>
        <tbody>
          <% @ssh_keys.each do |key| %>
            <tr>
              <td><i class="fa fa-key"></i></td>
              <td style="word-wrap: break-word;"><%= key %></td>
              <td>
                  <%= link_to raw("<i class=\"fa fa-trash\"></i>"),
                                ssh_delete_path(key: key),
                                class: "btn btn-danger",
                                style: 'width: 100%;',
                                data: {
                                  confirm: <<~EOF
                                    Are you sure you wish to delete this key?
                                    This action is non-reversible
                                  EOF
                                },
                                method: :post
                  %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  <% end %>
</div>
